.collectionsOpen {
  width: calc(100vw - 180px);
  min-height: 100vh;
  background-color: #152129;
  align-self: flex-end;
}

.collectionsClosed {
  width: calc(100vw - 60px);
  min-height: 100vh;
  background-color: #152129;
  align-self: flex-end;
}

.collectionsWrapper {
  margin-top: 40px;
  padding: 0 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  overflow-y: scroll;
}
